In [2]:
import pandas as pd

# Create two dataframes
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

# # Add the two dataframes row-wise
# df3 = df1.append(df2)
#
# # Print the resulting dataframe
# print(df3)

In [3]:
 result_df = pd.concat([df1, df2], axis=0, ignore_index=True)

In [4]:
result_df.head()

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11

In [5]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
df2

   A   B
0  7  10
1  8  11
2  9  12

In [7]:
df_3 = pd.concat([df1, df2], axis=0)

In [8]:
df_3

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [9]:
df_4 = pd.concat([df1, df2], axis=0, ignore_index=True)

In [10]:
df_4

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [11]:
result_df.shape

(6, 2)

In [12]:
df_4.shape

(6, 2)

In [13]:
result_df

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [14]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df = df.rename(columns={"A": "B"})
print(df)

   B  B
0  1  4
1  2  5
2  3  6